<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
</head>
<body>
<center>
    <h1 style="center">Login Form</h1>

    <h2 style="center"> BY ANSHUMAN PRAJAPATI</h2>
    <br><br><br><br>
    <br><br><br><br>
    {% if error %}
    <p style="color:red">Eithe username or password is incorrect.</p>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
       <h4>Username:  <input type="text" placeholder="Enter Username"
                        name="uname"> </h4>

       <h4>Password: <input type="password" placeholder="Enter Password"
                         name="pwd"> </h4>
        <br><br>
        <input type="submit" value="Login">
    </form>
    <br><br><br>
<a href="{% url 'signup' %}" style="text-center">Create New Account</a>
   <BR><BR><BR><BR><BR>
    <BR><BR><BR><BR><BR>
    <BR><BR><BR><BR><BR><h5> STRUCTURE ONLY </h5>
</center>
</body>
</html>